<div class="login-wraper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 col-md-4 offset-md-8">
        <div class="login-card">
          <h3 style="color:#fff">Insurer Login</h3>
          <form id="loginForm">
            <mat-form-field>
              <input matInput placeholder="User name" type="text">
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Password" type="password">
            </mat-form-field>
            <mat-checkbox>Remember my credentials in this computer</mat-checkbox>
            <mat-chip-list>
              <mat-chip color="primary">Login</mat-chip>
            </mat-chip-list>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>